# Inteligentná analýza údajov

## Personal_Train.csv

In [1]:
#importovanie knižníc
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

**Načítanie train datasetov**

In [2]:
!pwd
!ls ./Datasets/

personal = "./Datasets/personal_train.csv"
other = "./Datasets/other_train.csv"

/home/pavol/Desktop/INANU
other_train.csv  other_valid.csv  personal_train.csv  personal_valid.csv

## Načítanie do Pandas Dataframe

Použijem funkciu pd.read_csv, pretože datasety sú uložené vo formáte *.csv

In [3]:
df_personal = pd.read_csv(filepath_or_buffer=personal, names=["Name", "Address", "Age", 
                                                             "Sex", "Date of Birth"],
                         delimiter = ",")
df_personal = df_personal.drop(df_personal.index[0])
df_personal.head(10)

,Name,Address,Age,Sex,Date of Birth
0.0,Terry Terry,"11818 Lori Crossing Apt. 802\nPughstad, DC 78165",68.0,M,1949-11-16
1.0,Edith Boudreaux,"PSC 4657, Box 5446\nAPO AP 58412",75.0,F,1943-08-10
2.0,Stephen Lalk,Unit 9759 Box 9470\nDPO AP 45549,67.0,M,1951-05-28
3.0,Abraham Bruce,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",34.0,?,1984-02-13
4.0,Janet Washington,"995 Frank Stravenue\nSouth Matthewport, TX 81402",65.0,F,1953/06/24
5.0,Margaret Chabot,"1781 Meredith Skyway Suite 328\nCordovaburgh, ...",64.0,F,1954-10-17
6.0,Colleen Satterwhite,"2415 Elizabeth Knoll Suite 030\nCordovafort, C...",20.0,F,1998-01-03
7.0,Judy Smith,"49824 Kim View\nWest Ericborough, VT 42457",39.0,F,1979-03-31
8.0,Anna Swartz,"53231 Matthew Spur Apt. 079\nNorth Brian, MA 3...",84.0,F,1934-01-20
9.0,James Wilson,USNV Gallegos\nFPO AA 99743,55.0,M,1963-09-23 00 00 00

In [4]:
df_personal.columns

Index(['Name', 'Address', 'Age', 'Sex', 'Date of Birth'], dtype='object')

In [5]:
df_personal.shape

(2237, 5)

## Analýza po stĺpcoch

Stĺpec **Name**

In [ ]:
df_personal.Name.value_counts()

In [6]:
df_personal.Name.isnull().any()

False

In [ ]:
df_personal.Address.value_counts()

In [7]:
df_personal.Address.isnull().any()

False

In [ ]:
#Neplatné roky - napr 455 year old???
age = df_personal["Age"].value_counts()
age.sort_values(ascending=True)

In [9]:
#Nulové hodnoty pre Age!
df_personal["Age"].isnull().any()

True

In [6]:
#Sex - neplatné hodnoty ? - 88 times
df_personal["Sex"].value_counts()

F    1448
M     701
?      88
Name: Sex, dtype: int64

In [29]:
df_personal["Date of Birth"][:10]

0.0              1949-11-16
1.0              1943-08-10
2.0              1951-05-28
3.0              1984-02-13
4.0              1953/06/24
5.0              1954-10-17
6.0              1998-01-03
7.0              1979-03-31
8.0              1934-01-20
9.0     1963-09-23 00 00 00
10.0    1970-05-21 00 00 00
Name: Date of Birth, dtype: object

In [7]:
#Missing values pre column "Date of Birth"
from dateutil import parser 
df_personal["Date of Birth"].isnull().any()

True

In [26]:
df_personal["Date of Birth"] = pd.to_datetime(df_personal["Date of Birth"], errors="ignore")
df_personal.dtypes

Name             object
Address          object
Age              object
Sex              object
Date of Birth    object
dtype: object

In [8]:
#Zlý formát dátumov!!!!!
df_personal["Date of Birth"].value_counts()

1945-09-13             4
1948-04-26             3
1990-06-27             2
1977-04-29             2
1959-12-05             2
1945-09-26             2
1941-09-19             2
1959-11-12             2
1982-11-07             2
1951-06-02             2
1945-01-17             2
1948-02-03             2
1961-08-19             2
1964-03-08             2
1951-01-17             2
1962-08-09             2
55-07-29               2
1975-03-07             2
1969-05-10             2
1948-05-17             2
1963-04-17             2
1959-08-27 00 00 00    2
1945-11-03             2
1947-02-02             2
1998-12-24             2
1964-01-15             2
1959-07-07             2
1950-03-14             2
1963-04-07             2
1954-09-17             2
                      ..
1980-11-18             1
1968-03-20             1
1956-10-02             1
2008-02-28             1
1992-11-16             1
1942-10-18             1
1973-01-16             1
1972-06-27             1
1969-05-26             1
1973-01-31             1
1924-10-10 00:00:00    1
1986-01-22             1
1953-03-27             1
1995-05-20 00 00 00    1
1970-06-29             1
1958-11-01             1
1959-03-22             1
1999-08-12 00:00:00    1
27/02/1975             1
07/08/1978             1
1954-06-15             1
1950/11/21             1
1945-04-25             1
1934-09-16             1
78-07-31               1
1955-06-28             1
1981-07-23             1
1981-01-21             1
1973-01-15             1
1944-04-09             1
Name: Date of Birth, Length: 2191, dtype: int64