<p style="font-family: Arial; font-size:4.05em; color:darkblue; font-style:bold"><br>
Intelligent Data Analysis</p><br>

## Part II Preprocessing

Pavol Grofčík  
Dennis Sobolev

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import math
import json as js
warnings.simplefilter(action='ignore', category=FutureWarning)

%matplotlib inline

<p style="font-family: Arial; font-size:2.95em; color:purple; font-style:bold"><br>
Content</p><br>

## Sections
Analysis of each train dataset is divided into sections, shown below
* __Introduction__
* __Personal_train__
    * Coming soon
    
* __Other_train__
    * Also soon

## Rozparsovanie JSON [medical info] a vytvorenie nových stĺpcov

In [156]:
df_other = pd.read_csv("Datasets/other_train.csv", index_col = 0)
df_other.head()

,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,John Kasprzak,"3856 Kayla Track\r\nLake Sara, HI 31241",f,t,HS-grad,f,118.0,1.42,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,83
1,Stephen Harvey,"34782 Kayla Field\r\nSarahmouth, VT 75984",f,t,HS-grad,f,112.0,1.03,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,-900.0,Adm-clerical,f,?,White,109
2,Paul Moe,USNV Mooney\r\nFPO AE 29375,f,t,Some-college,f,87.0,0.96,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,f,?,White,90
3,Sarah Johnson,"3633 Bryan Isle\r\nNorth Jamesshire, HI 69484",f,t,Doctorate,f,102.0,0.85,0.0,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,16.0,Prof-specialty,f,?,White,119
4,Stacy Martinson,65701 Choi Course Apt. 280\r\nNorth Williamton...,f,t,Some-college,f,129.0,0.97,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,10.0,Other-service,f,?,White,133

In [157]:
#Funkcia vráti kľúče v danom dictionary
def dictionary_keys(dictionary):
    if (dictionary == None):
        return None
    keys = []
    
    for key in dictionary:
        key = key
        keys.append(key)
        
    return keys

In [158]:
#Funkcia vráti hodnoty v danom dictionary
def dictionary_values(dictionary):
    if(dictionary == None):
        return None
    values = []
    
    for key in dictionary:
        val = dictionary[key]
        values.append(val)
        
    return values

In [159]:
#Funkcia rozparsuje json formát
def parse_medical_info(med_info = None):
    
    if(med_info == None):
        return None
    
    med_info = med_info.strip("{}")  #Odstránime {}
    med_info = med_info.split(",")   #Rozdelime na list podľa ","
    
    new = []
    
    for k in med_info:
        a,b = k.split(":")
        new.append(a.strip("'"))
        new.append(b.strip("'"))
        
    final = dict(new[i:i+2] for i in range(0,len(new),2))
    
    #Návratová hodnota je vytvorený slovník
    return final

In [160]:
#Funkcia vytvorí nové stĺpce v datasete
def add_columns(data = None, json_col = None):
    
    if (data[json_col].empty or json_col == None):
        return None
    
    #Rozparsujeme si prvý row na dict
    dictionary = parse_medical_info(data[json_col][0])
    keys = dictionary_keys(dictionary)
    
    #Vytvorím si nový dataframe a init na np.Nan
    new = pd.DataFrame(columns=keys,index=range(len(data)))
    
    #Iterácia nad dataframe a parsovanie query
    counter = 0
    for json in data[json_col]:
        try:
            if(np.isnan(json)):
                counter += 1
                new.loc[counter] = np.NaN
                continue
        except:
            pass

        json = parse_medical_info(json)
        new.loc[counter] = dictionary_values(json)
        counter += 1

    
    #Odstránim stĺpce z new a pridám ich do pôvodného
    cols = len(new.columns)
    
    for i in range(cols):
        col = new.pop(new.columns[0])
        name = keys[i]

        data[name] = col
    
    
    #Vrátime rozparsovaný dataframe
    return data

In [161]:
df_other= add_columns(data=df_other,json_col="medical_info")
df_other[df_other.columns[15:]].head()

,relationship,sick,workclass,TT4 measured,class,marital-status,goitre,native-country,hypopituitary,medical_info,...,query hypothyroid,T4U measured,pregnant,thyroid surgery,TSH measured,query on thyroxine,I131 treatment,on thyroxine,T3 measured,psych
0,Husband,f,Private,t,increased binding protein.|2384,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",...,f,t,f,f,t,f,f,f,t,f
1,Not-in-family,f,NaN,t,negative.|358,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",...,f,t,f,f,t,f,f,f,t,f
2,Husband,f,Private,t,negative.|1247,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",...,f,t,f,f,t,f,f,f,t,f
3,Not-in-family,f,??,t,negative.|1829,Never-married,f,United-States,f,"{'query hypothyroid':'t','T4U measured':'t','p...",...,t,t,f,f,t,f,f,f,t,f
4,Own-child,f,Private,t,negative.|3531,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",...,f,t,f,f,t,f,f,f,t,f

## Unique identifier

In [205]:
df_personal = pd.read_csv("Datasets/personal_train.csv", index_col=0)
df_personal.head()

,name,address,age,sex,date_of_birth
0,Terry Terry,"11818 Lori Crossing Apt. 802\r\nPughstad, DC 7...",68.0,M,1949-11-16
1,Edith Boudreaux,"PSC 4657, Box 5446\r\nAPO AP 58412",75.0,F,1943-08-10
2,Stephen Lalk,Unit 9759 Box 9470\r\nDPO AP 45549,67.0,M,1951-05-28
3,Abraham Bruce,"137 Lewis Flat Suite 762\r\nWest Elizabeth, AL...",34.0,?,1984-02-13
4,Janet Washington,"995 Frank Stravenue\r\nSouth Matthewport, TX 8...",65.0,F,1953/06/24

In [212]:
if ( len(df_personal.name.unique()) != len(df_personal.name)):
    print("Found duplicates")

Found duplicates

In [232]:
#Concatenating name and address
name = df_personal.name.copy() + " " + df_personal.address.copy()

In [234]:
if(len(name) != len(name.unique())):
    print("Duplicates!")

### Other.csv

In [242]:
df_other = pd.read_csv("Datasets/other_train.csv", index_col=0)
df_other.head()

,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,John Kasprzak,"3856 Kayla Track\r\nLake Sara, HI 31241",f,t,HS-grad,f,118.0,1.42,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,83
1,Stephen Harvey,"34782 Kayla Field\r\nSarahmouth, VT 75984",f,t,HS-grad,f,112.0,1.03,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,-900.0,Adm-clerical,f,?,White,109
2,Paul Moe,USNV Mooney\r\nFPO AE 29375,f,t,Some-college,f,87.0,0.96,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,f,?,White,90
3,Sarah Johnson,"3633 Bryan Isle\r\nNorth Jamesshire, HI 69484",f,t,Doctorate,f,102.0,0.85,0.0,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,16.0,Prof-specialty,f,?,White,119
4,Stacy Martinson,65701 Choi Course Apt. 280\r\nNorth Williamton...,f,t,Some-college,f,129.0,0.97,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,10.0,Other-service,f,?,White,133

In [243]:
other = df_other["name"] + " " + df_other["address"]

In [245]:
if ( len(df_other.name.unique()) != len(df_other.name)):
    print("Found duplicates")

Found duplicates

In [246]:
if (len(other) != len(other.unique())):
    print("Still duplicates")

Still duplicates

In [ ]:
#Porovanie df_other a df_personal

In [247]:
len(df_other.name)

2287

In [251]:
other.drop_duplicates()

0       John Kasprzak 3856 Kayla Track\r\nLake Sara, H...
1       Stephen Harvey 34782 Kayla Field\r\nSarahmouth...
2                    Paul Moe USNV Mooney\r\nFPO AE 29375
3       Sarah Johnson 3633 Bryan Isle\r\nNorth Jamessh...
4       Stacy Martinson 65701 Choi Course Apt. 280\r\n...
5       Roxanne Benitez 8892 Powell Lock Suite 509\r\n...
6       Timothy Selman 74186 Scott Lights\r\nWest Josh...
7       Wallace Nicholas 706 Dawn Brooks\r\nWalkerfort...
8       Joanne Mcneil 65114 Rodriguez River Suite 382\...
9       Wayne Hudgins 1481 Bush Manors Apt. 378\r\nHos...
10      Karl Sanchez 9423 Ray Walks Suite 479\r\nLisac...
11      Casey Williams 40936 Singh Underpass\r\nRichar...
12      Anthony Cates 25324 Mark Points\r\nRussellstad...
13      Mary Los 273 Calvin Prairie Apt. 987\r\nEast K...
14      Jene Ross 2022 Robert Motorway Apt. 828\r\nDar...
15      Micaela Harrill 83183 Williams Vista\r\nJoseph...
16      John Coney 75840 Smith Station\r\nCharlesburgh...
17      Danny Clark 364 Michelle Plaza Suite 100\r\nRi...
18      Betty Kannel 024 Jordan Plains Suite 643\r\nAn...
19      Shanon Mcneal 32087 Patty Villages\r\nBurgessb...
20      Gloria Merritt 89986 Anthony Estate Suite 709\...
21        Jerry Castro PSC 2301, Box 2752\r\nAPO AP 17795
22      Dean Grimes 77974 Hale Radial\r\nWest Kimberly...
23      Charles Karlin 1728 Dustin Loop\r\nNorth Cynth...
24      Melissa Micheals 741 Laura Drive Suite 204\r\n...
25       Michael Perez Unit 3600 Box 5813\r\nDPO AA 90825
26      Thomas Winters 7549 Roger Island\r\nWest Colli...
27      Kathryn Medina 6575 Aaron Lodge\r\nAndrewsside...
28      Michelle Green 76168 Briggs Trail\r\nPort Nata...
29      Mary Skaggs 664 Chelsea Parks\r\nWest Williefo...
                              ...
2256    Billy Read 866 Perkins Prairie\r\nOliviaton, N...
2258    Peggy Cheatam 7981 Fitzgerald Manors Apt. 887\...
2259    Pamela Foote 2434 Lori Hill\r\nNorth David, NJ...
2260    Rebecca Helmes 5490 Garcia Prairie Apt. 498\r\...
2261    Dennis Neese 64973 Emily Pine\r\nEast Elizabet...
2262    Cynthia Valencia 7176 Stevenson Drive\r\nNew C...
2263    Philip Willis 9217 Jessica Grove Suite 735\r\n...
2264    Martha Langham 13054 Stephanie Underpass\r\nSh...
2265    Jeff Forrest 6813 Ryan Summit\r\nMcguirefurt, ...
2266    Carmelo Liao 2421 Francisco Lodge Apt. 428\r\n...
2267       Brian Riley PSC 2327, Box 8327\r\nAPO AP 13663
2268    Evelyn Free 342 Martinez Grove\r\nEast Patrici...
2269    Katherine Friend 4351 Marquez Ferry\r\nPort Am...
2270    Jason Muller 3821 Matthew Plaza\r\nDeniseland,...
2271    Belinda Anderson 4302 Andrews Mall\r\nNorth Di...
2272    William Chandler 69152 Rogers Landing Suite 56...
2273    Shirley Alba 55616 Hughes Meadow\r\nNew Joseph...
2274    Carol Vil 683 Mitchell Estates Suite 421\r\nMc...
2275    Colleen Satterwhite 2415 Elizabeth Knoll Suite...
2276    Kelvin Fillinger 3935 Baker Roads Suite 470\r\...
2277    Justin Pride 1510 Brooke Avenue\r\nNew Sarache...
2278       Kelly Magee PSC 6948, Box 7261\r\nAPO AA 21959
2279    Leanne Blanchette 6718 Alvarado Estates\r\nCol...
2280    Jacquelyn Nickerson 61203 Sarah Mountains\r\nN...
2281    Marilyn Estes 10660 Dixon Drive\r\nEast Lisapo...
2282    Nola Rhinehart 33993 Jones Keys Suite 315\r\nN...
2283    Jolene Tompkins 93505 Sean Points Apt. 899\r\n...
2284    Jennifer Danley PSC 4766, Box 4405\r\nAPO AE 4...
2285    Wendy Johnson 2089 Armstrong Port\r\nLuisburgh...
2286    Dorothy Nye 1333 Butler Estates Suite 958\r\nM...
Length: 2237, dtype: object

In [250]:
len(df_personal.name)

2237