# Inteligentá Analýza Údajov

### other_train.csv

In [1]:
#Načítanie knižníc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Načítanie cesty
!pwd
!ls -l Datasets/

other_train = "Datasets/other_train.csv"

/home/pavol/Desktop/INANU
total 1672
-rw-r--r-- 1 pavol pavol 992968 Oct 16 18:46 other_train.csv
-rw-r--r-- 1 pavol pavol 442310 Oct 16 18:46 other_valid.csv
-rw-r--r-- 1 pavol pavol 189504 Oct 16 18:46 personal_train.csv
-rw-r--r-- 1 pavol pavol  79445 Oct 16 18:46 personal_valid.csv

In [3]:
df_other = pd.read_csv(other_train, header= 0)

In [4]:
df_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2287 entries, 0 to 2286
Data columns (total 34 columns):
Unnamed: 0                   2287 non-null int64
name                         2287 non-null object
address                      2287 non-null object
query hyperthyroid           2277 non-null object
FTI measured                 2278 non-null object
education                    2280 non-null object
lithium                      2277 non-null object
TT4                          2125 non-null float64
T4U                          2042 non-null float64
capital-loss                 2049 non-null float64
capital-gain                 2282 non-null float64
tumor                        2277 non-null object
TSH                          2040 non-null float64
T3                           1805 non-null float64
fnlwgt                       2279 non-null float64
hours-per-week               2278 non-null float64
relationship                 2278 non-null object
sick                         2277 non-null object
workclass                    2140 non-null object
TT4 measured                 2278 non-null object
class                        2279 non-null object
marital-status               2277 non-null object
goitre                       2279 non-null object
native-country               2281 non-null object
hypopituitary                2279 non-null object
medical_info                 2277 non-null object
on antithyroid medication    2278 non-null object
referral source              2276 non-null object
education-num                2277 non-null float64
occupation                   2274 non-null object
TBG measured                 2280 non-null object
TBG                          2275 non-null object
race                         2279 non-null object
FTI                          2276 non-null object
dtypes: float64(9), int64(1), object(24)
memory usage: 607.6+ KB

In [9]:
df_other.columns

Index(['Unnamed: 0', 'name', 'address', 'query hyperthyroid', 'FTI measured',
       'education', 'lithium', 'TT4', 'T4U', 'capital-loss', 'capital-gain',
       'tumor', 'TSH', 'T3', 'fnlwgt', 'hours-per-week', 'relationship',
       'sick', 'workclass', 'TT4 measured', 'class', 'marital-status',
       'goitre', 'native-country', 'hypopituitary', 'medical_info',
       'on antithyroid medication', 'referral source', 'education-num',
       'occupation', 'TBG measured', 'TBG', 'race', 'FTI'],
      dtype='object')

In [11]:
df_other.head()

,Unnamed: 0,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,0,John Kasprzak,"3856 Kayla Track\nLake Sara, HI 31241",f,t,HS-grad,f,118.0,1.42,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,83
1,1,Stephen Harvey,"34782 Kayla Field\nSarahmouth, VT 75984",f,t,HS-grad,f,112.0,1.03,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,-900.0,Adm-clerical,f,?,White,109
2,2,Paul Moe,USNV Mooney\nFPO AE 29375,f,t,Some-college,f,87.0,0.96,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,f,?,White,90
3,3,Sarah Johnson,"3633 Bryan Isle\nNorth Jamesshire, HI 69484",f,t,Doctorate,f,102.0,0.85,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,16.0,Prof-specialty,f,?,White,119
4,4,Stacy Martinson,"65701 Choi Course Apt. 280\nNorth Williamton, ...",f,t,Some-college,f,129.0,0.97,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,10.0,Other-service,f,?,White,133

## Analýza po stĺpcoch

In [ ]:
#Duplicity mien!!!
df_other.name.value_counts()

In [16]:
df_other.name.isnull().any()

False

In [19]:
df_other.address.isnull().any()

False

In [20]:
#Neplatné hodnoty - f.8 !!!!!!
df_other["query hyperthyroid"].value_counts()

f      2137
t       139
f.8       1
Name: query hyperthyroid, dtype: int64

In [22]:
#Nachádzajú sa aj prázdne hodnoty
df_other["query hyperthyroid"].isnull().any()

True

In [24]:
#Neplatné hodnoty - t.4 !!!!!!
df_other["FTI measured"].value_counts()

t      2041
f       236
t.4       1
Name: FTI measured, dtype: int64

In [26]:
#Nachádzajú sa aj prázdne hodnoty
df_other["FTI measured"].isnull().any()

True

In [30]:
df_other.education.value_counts()

 HS-grad         724
 Some-college    572
 Bachelors       361
 Assoc-voc       106
 Masters          99
 11th             93
 Assoc-acdm       86
 10th             63
 7th-8th          38
 9th              32
 12th             30
 5th-6th          30
 Prof-school      24
 Doctorate        14
 1st-4th           7
 Preschool         1
Name: education, dtype: int64

In [32]:
#Nachádzajú sa prázdne hodnoty
df_other.education.isnull().any()

True

In [33]:
#Neplatné hodnoty - f.9 !!!!!!
df_other.lithium.value_counts()

f      2264
t        12
f.9       1
Name: lithium, dtype: int64

In [35]:
#Nachádzajú sa prázdne hodnoty
df_other.lithium.isnull().any()

True

In [41]:
#Nachádzajú sa prázdne hodnoty NaN
df_other.TT4.isna().any()

True

In [43]:
#Nachádzajú sa prázdne hodnoty NULL
df_other.TT4.isnull().any()

True

In [48]:
#Nachádzajú sa prázdne hodnoty NaN
df_other.T4U.isna().any()

True

In [44]:
#Nachádzajú sa prázdne hodnoty NULL
df_other.T4U.isnull().any()

True

In [5]:
#High range values????
df_other["capital-loss"].value_counts()

0.0       1981
1902.0      10
1977.0       6
1602.0       5
1669.0       3
1721.0       3
1485.0       3
625.0        2
1579.0       2
2001.0       2
1504.0       2
2377.0       2
2339.0       2
1762.0       2
1740.0       2
1980.0       2
2002.0       1
2824.0       1
1408.0       1
1848.0       1
1719.0       1
2129.0       1
1380.0       1
3770.0       1
1741.0       1
1594.0       1
2051.0       1
3004.0       1
1668.0       1
2080.0       1
2258.0       1
213.0        1
1617.0       1
1340.0       1
2415.0       1
1974.0       1
Name: capital-loss, dtype: int64

In [50]:
df_other["capital-loss"].isnull().any()

True

In [52]:
df_other["capital-loss"].isna().any()

True

In [ ]:
#High range values
df_other["capital-gain"].value_counts()

In [54]:
#Nan values!!!!!
df_other.race.unique()

array([' White', ' Amer-Indian-Eskimo', ' Black', ' Other',
       ' Asian-Pac-Islander', nan], dtype=object)

In [55]:
##Neplatné hodnoty - f.12 !!!!!!
df_other.hypopituitary.unique()

array(['f', nan, 'f.12'], dtype=object)

In [9]:
df_other.head(10)

,Unnamed: 0,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,0,John Kasprzak,"3856 Kayla Track\nLake Sara, HI 31241",f,t,HS-grad,f,118.0,1.42,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Craft-repair,f,?,White,83
1,1,Stephen Harvey,"34782 Kayla Field\nSarahmouth, VT 75984",f,t,HS-grad,f,112.0,1.03,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",FALSE,other,-900.0,Adm-clerical,f,?,White,109
2,2,Paul Moe,USNV Mooney\nFPO AE 29375,f,t,Some-college,f,87.0,0.96,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,f,?,White,90
3,3,Sarah Johnson,"3633 Bryan Isle\nNorth Jamesshire, HI 69484",f,t,Doctorate,f,102.0,0.85,0.0,...,f,"{'query hypothyroid':'t','T4U measured':'t','p...",f,SVI,16.0,Prof-specialty,f,?,White,119
4,4,Stacy Martinson,"65701 Choi Course Apt. 280\nNorth Williamton, ...",f,t,Some-college,f,129.0,0.97,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,SVI,10.0,Other-service,f,?,White,133
5,5,Roxanne Benitez,"8892 Powell Lock Suite 509\nDunnview, CT 49939",f,f,Assoc-acdm,f,NaN,NaN,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,other,12.0,?,f,?,White,?
6,6,Timothy Selman,"74186 Scott Lights\nWest Joshuahaven, WV 02694",f,t,Bachelors,f,135.0,0.97,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,13.0,?,f,?,White,140
7,7,Wallace Nicholas,"706 Dawn Brooks\nWalkerfort, CA 08964",f,f,Bachelors,f,101.0,NaN,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'f','p...",f,SVI,1300.0,Exec-managerial,f,?,White,?
8,8,Joanne Mcneil,65114 Rodriguez River Suite 382\nSouth Jessica...,f,t,Some-college,f,182.0,1.04,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Adm-clerical,f,?,White,175
9,9,Wayne Hudgins,"1481 Bush Manors Apt. 378\nHostad, MN 26966",f,t,Masters,f,65.0,0.93,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",F,other,14.0,Adm-clerical,f,?,White,70

In [10]:
df_other["on antithyroid medication"].value_counts()

f        2020
F         133
FALSE      95
t          25
T           2
TRUE        2
f.2         1
Name: on antithyroid medication, dtype: int64

In [11]:
df_other["referral source"].value_counts()

other    1326
SVI       640
SVHC      216
STMW       68
SVHD       26
Name: referral source, dtype: int64

In [ ]:
df_other["education-num"].value_counts()

In [14]:
df_other["occupation"].value_counts()

 Adm-clerical         398
 Other-service        357
 Exec-managerial      284
 Prof-specialty       274
 Sales                246
 Craft-repair         170
 ?                    165
 Machine-op-inspct    119
 Transport-moving      63
 Tech-support          60
 Handlers-cleaners     59
 Farming-fishing       36
 Protective-serv       23
 Priv-house-serv       20
Name: occupation, dtype: int64

In [15]:
df_other["TBG measured"].value_counts()

f       2279
f.14       1
Name: TBG measured, dtype: int64

In [16]:
df_other.TBG.value_counts()

?    2275
Name: TBG, dtype: int64

In [17]:
df_other.columns

Index(['Unnamed: 0', 'name', 'address', 'query hyperthyroid', 'FTI measured',
       'education', 'lithium', 'TT4', 'T4U', 'capital-loss', 'capital-gain',
       'tumor', 'TSH', 'T3', 'fnlwgt', 'hours-per-week', 'relationship',
       'sick', 'workclass', 'TT4 measured', 'class', 'marital-status',
       'goitre', 'native-country', 'hypopituitary', 'medical_info',
       'on antithyroid medication', 'referral source', 'education-num',
       'occupation', 'TBG measured', 'TBG', 'race', 'FTI'],
      dtype='object')

In [18]:
df_other.tumor.value_counts()

f       2222
t         54
f.11       1
Name: tumor, dtype: int64

In [ ]:
df_other.TSH.value_counts()

In [24]:
df_other.relationship.unique()

array([' Husband', ' Not-in-family', ' Own-child', ' Wife',
       ' Other-relative', ' Unmarried', nan], dtype=object)

In [26]:
df_other.sick.value_counts()

f      2187
t        89
f.3       1
Name: sick, dtype: int64

In [27]:
df_other.workclass.unique()

array([' Private', nan, '??', ' ?', ' Self-emp-not-inc', ' Local-gov',
       ' State-gov', ' Self-emp-inc', 'federal-gov', 'private',
       ' Federal-gov', 'local-gov', '?', 'self-emp-not-inc', 'Nan',
       'state-gov', 'self-emp-inc', ' Without-pay'], dtype=object)

In [ ]:
#Nesprávny formát
df_other["class"].value_counts()

In [33]:
df_other["marital-status"].unique()

array([' Married-civ-spouse', ' Never-married', ' Widowed', ' Divorced',
       ' Married-spouse-absent', ' Separated', nan, ' Married-AF-spouse'],
      dtype=object)

In [36]:
df_other["native-country"].unique()

array([' United-States', ' Canada', ' ?', ' India', ' Jamaica',
       ' Germany', ' Japan', nan, ' Mexico', ' Puerto-Rico',
       ' Trinadad&Tobago', ' Portugal', ' Iran', ' England',
       ' Dominican-Republic', ' Cuba', ' Haiti', ' Columbia', ' Vietnam',
       ' Taiwan', ' China', ' El-Salvador', ' Cambodia', ' Philippines',
       ' Ecuador', ' Poland', ' Nicaragua', ' Guatemala', ' Peru',
       ' South', ' Italy', ' Yugoslavia', ' Honduras', ' Hong', ' Greece'],
      dtype=object)

In [ ]:
df_other["native-country"].value_counts()

In [ ]:
df_other.FTI.value_counts()